<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head charset="utf-8">
<title>home</title>
</head>
<body>

<style>
table, th, td {
  border: 1px solid black;
  text-align: center;
  
}

th, td {
  padding: 10px;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
#a{
	  margin-left: auto; 
  margin-right: auto;
	
}
h1{
	text-align: center;
}
</style>
<div id="a">
	<h1>ビザのリスト</h1>
	<form th:action="@{/user/entry/}"method="POST">
<table class="center">
	<thead>
            <tr>
                <th>名前</th>
                <th>ビザ期限</th>
                <th>ビザ種類</th>
                <th>残日数</th>
              
            </tr>
        </thead>
        <tbody>
            <tr th:each="listuser : ${listuser}">
                <td th:text="${listuser.name}"></td>
                <td th:text="${listuser.password}"></td>
                <td th:text="${listuser.email}"></td>
                <td th:text="${listuser.visa}"></td>
                <td th:text="${listuser.visatype}"></td>
                <td>
					<a class="b" th:href="@{/delete/{id}(id=${listuser.id})}">削除</a>
        			<a class="c" th:href="@{/update/{id}(id=${listuser.id})}">編集</a>
				</td>
            </tr>
         <tbody>
         
        </table>
</div>

</body>
</html>