</div>
<form th:action="@{/user/login}"method="POST">
 <div th:if="${msg}">
  <h1 id="notify" th:text="${msg}"></h1>
</div>
  <p>
        <label for="email">Email：</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="メールアドレスを入力してください">
    </p>
     <p>
        <label for="password">Password：</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="パスワードを入力してください">
    </p>
   

    <button type="submit">ログイン</button>
    
   <button type="submit">新規登録<a href="signup" ></button>


 

</a>  
        
    </div>
</form>
</body >
</html >