<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.LoginUserMapper">


    	<select id="count" parameterType="com.example.demo.model.LoginUserModel"  resultType="int" >
         SELECT COUNT(email) FROM  visasystem where email=#{email} and password=#{password}
          </select>
          
          <select id="getUser" parameterType="com.example.demo.model.LoginUserModel"  resultType="String" >
         SELECT name,email,visa,visatype  FROM  visasystem where email=#{email} 
          </select>
          
          <select id="admin" parameterType="com.example.demo.model.LoginUserModel"  resultType="String" >
         SELECT *  FROM  visasystem where name=#{admin} 
          </select>
         
          </mapper> 
         