<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.NewUserMapper">

<insert id="insert" parameterType="com.example.demo.model.NewUserModel" useGeneratedKeys="true" >
        INSERT INTO visasystem(name,password,email,visa,visatype) VALUES (#{name},#{password},#{email},#{visa},#{visatype})
    </insert>
    
    
    <select id="search" parameterType="com.example.demo.model.NewUserModel"  resultType="int" >
        SELECT COUNT(email) FROM  visasystem where email=#{email} 
 
          </select>
          
          <select id="checkall"  resultType="com.example.demo.model.NewUserModel" parameterType="com.example.demo.model.NewUserModel">
       SELECT id, name, visa, visatype FROM visasystem WHERE email != 'admin';

    </select>
    
    

    <delete id="delete" parameterType="com.example.demo.model.NewUserModel">
     delete from visasystem where id=#{id}
    </delete>
     <select id="selectupdate"  resultType="com.example.demo.model.NewUserModel" parameterType="com.example.demo.model.NewUserModel">
    SELECT*FROM visasystem WHERE id=#{id}
    
    </select>
       <update id="update" parameterType="com.example.demo.model.NewUserModel">
     Update visasystem set id=#{id},name=#{name}, visa=#{visa}, visatype=#{visatype} where id=#{id}
    </update>
          
          
          </mapper> 
           