<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.visa.mapper.NewUserMapper">

<insert id="insert" parameterType="com.example.visa.model.NewUserModel" useGeneratedKeys="true" >
        INSERT INTO visasystem(name,password,address,visa,visatype) VALUES (#{name},#{password},#{address},#{visa},#{visatype})
    </insert>
    
    
    <select id="search" parameterType="com.example.visa.model.NewUserModel"  resultType="int" >
        SELECT COUNT(address) FROM  visasystem where address=#{address} 
          </select> 